@inherits LayoutComponentBase
@inject IJSRuntime JS
@using Syncfusion.Blazor.Navigations
<PageTitle>Servey</PageTitle>
<div>
    <NavMenu />
</div>
<article class="content-wrapper">
    @Body
</article>

